// src/assets/styles/_mixins.scss
@use "sass:map";
@use "./vars" as *;

@mixin respond($bp) {
  $breakpoints: (
    sm: $bp-sm,
    md: $bp-md,
    lg: $bp-lg,
  );
  @if map.has-key($breakpoints, $bp) {
    @media (max-width: map.get($breakpoints, $bp)) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($props: all, $dur: 0.3s, $fn: ease) {
  transition: $props $dur $fn;
}
