@use "./vars";
@use "./mixins";
@use "./functions";

/* Global base */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f1ea; /* cozy beige */
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
